<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたのタイプにぴったりの漫画はこれ！</p>
</div>

<div class="manga-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %> 
  <% when ["1","1","1","1"] %>
    <h6>頭脳派のあなたにぴったり！</h6>
    <ul>
      <li>「DEATH NOTE」</li>
      <li>「PSYCHO-PASS」</li>
      <li>「MONSTER」</li>
    </ul>
  <% when ["1","1","1","2"] %>
    <h6>心で感じる個性派！</h6>
    <ul>
      <li>「3月のライオン」</li>
      <li>「四月は君の嘘」</li>
      <li>「聲の形」</li>
    </ul>

  <% when ["1","1","2","1"] %>
    <h6>ストーリーを読み解く知性派！謎にワクワク</h6>
    <ul>
      <li>「Dr.STONE」</li>
      <li>「約束のネバーランド」</li>
      <li>「寄生獣」</li>
      <li>「サマータイムレンダ」</li>
    </ul>

  <% when ["1","1","2","2"] %>
    <h6>感情で物語を楽しむ！胸アツ展開が好き</h6>
    <ul>
      <li>「ぼっち・ざ・ろっく！」</li>
      <li>「ハチミツとクローバー」</li>
      <li>「よふかしのうた」</li>
    </ul>

  <% when ["1","2","1","1"] %>
    <h6>仲間とじっくり考えるのが好きな頭脳派</h6>
    <ul>
      <li>「名探偵コナン」</li>
      <li>「金田一少年の事件簿」</li>
      <li>「ダンジョン飯」</li>
      <li>「鴨乃橋ロンの禁断推理」</li>
    </ul>

  <% when ["1","2","1","2"] %>
    <h6>心を通わせるストーリー</h6>
    <ul>
      <li>「ちはやふる」</li>
      <li>「夏目友人帳」</li>
      <li>「フルーツバスケット」</li>
      <li>「甘々と稲妻」</li>
    </ul>

  <% when ["1","2","2","1"] %>
    <h6>物語の裏を読み解く戦略派！展開を楽しむタイプ</h6>
    <ul>
      <li>「宇宙兄弟」</li>
      <li>「STEINS;GATE」</li>
    </ul>

  <% when ["1","2","2","2"] %>
    <h6>感動を大切に！胸に響く展開が好き</h6>
    <ul>
      <li>「青のフラッグ」</li>
      <li>「坂道のアポロン」</li>
      <li>「Orange」</li>
    </ul>

  <% when ["2","1","1","1"] %>
    <h6>ハイスピードで考えろ！駆け引きが楽しいあなたへ</h6>
    <ul>
      <li>「進撃の巨人」</li>
      <li>「東京喰種」</li>
      <li>「バガボンド」</li>
      <li>「ファイアパンチ」</li>
    </ul>

  <% when ["2","1","1","2"] %>
    <h6>心も体もアクティブ！テンポよく楽しむタイプ</h6>
    <ul>
      <li>「BEASTARS」</li>
      <li>「呪術廻戦」</li>
      <li>「チェンソーマン」</li>
    </ul>

  <% when ["2","1","2","1"] %>
    <h6>目が離せない展開に夢中！考察も楽しむ派</h6>
    <ul>
      <li>「ワンパンマン」</li>
      <li>「コードギアス 反逆のルルーシュ」</li>
      <li>「メイドインアビス」</li>
      <li>「地獄楽」</li>
    </ul>

  <% when ["2","1","2","2"] %>
    <h6>ドキドキ展開が大好き！</h6>
    <ul>
      <li>「ヴァイオレット・エヴァーガーデン」</li>
      <li>「からかい上手の高木さん」</li>
      <li>「風が強く吹いている」</li>
    </ul>

  <% when ["2","2","1","1"] %>
    <h6>仲間と考える！知的なチームプレイヤー</h6>
    <ul>
      <li>「ワールドトリガー」</li>
      <li>「黒子のバスケ」</li>
      <li>「炎炎ノ消防隊」</li>
      <li>「ブルーピリオド」</li>
    </ul>

  <% when ["2","2","1","2"] %>
    <h6>仲間と心をつなぐ！感情豊か派</h6>
    <ul>
      <li>「ハイキュー!!」</li>
      <li>「あひるの空」</li>
      <li>「弱虫ペダル」</li>
    </ul>

  <% when ["2","2","2","1"] %>
    <h6>スピード展開を楽しむ！戦略派チームプレイヤー</h6>
    <ul>
      <li>「ONE PIECE」</li>
      <li>「僕のヒーローアカデミア」</li>
      <li>「七つの大罪」</li>
      <li>「スキップとローファー」</li>
    </ul>

  <% when ["2","2","2","2"] %>
    <h6>ワクワクする展開に仲間と感動！</h6>
    <ul>
      <li>「スラムダンク」</li>
      <li>「テニスの王子様」</li>
      <li>「ブルーロック」</li>
    </ul>
  
  <% end %>
</div>

<div class="manga-back">
  <%= link_to "もう一度診断する", new_perfume_path %>
</div>

<div class="manga-home">
  <%= link_to "ホームに戻る", tweets_path %>
</div>